<rs-page>
    <div rs-content class="rs-open-rs2-file-store" *ngIf="fileStore">
        <h1 class="mat-headline-5">
            OpenRS2 File Store (ID {{fileStore.id}})
        </h1>

        <h2 class="mat-headline-6">
            <span *ngIf="fileStore.game">
                {{fileStore.game | openRs2Label}}
            </span>
            <span *ngIf="fileStore.environment">
                {{fileStore.environment | openRs2Label}}
            </span>
            <span *ngIf="fileStore.builds?.length">
                {{fileStore.builds!.length === 1 ? 'Build' : 'Builds'}}
                {{builds}}
            </span>
            <span *ngIf="fileStore.language">
                (Language: {{fileStore.language | openRs2Label}})
            </span>
        </h2>

        <h3 class="mat-subtitle-1" *ngIf="fileStore.sources?.length">
            {{fileStore.sources!.length === 1 ? 'Source' : 'Sources'}}: {{fileStore.sources!.join(', ')}}
        </h3>

        <mat-card>
            <mat-card-header>
                <mat-card-title>Data</mat-card-title>
            </mat-card-header>

            <mat-card-content class="rs-data">
                <div class="rs-grid">
                    <div>
                        <label>Total Size:</label>
                        &nbsp;
                        <span>{{fileStore.size | number}} bytes</span>
                    </div>

                    <div>
                        <label>Blocks:</label>
                        &nbsp;
                        <span>{{fileStore.blocks | number}}</span>
                    </div>
                </div>

                <div class="rs-grid rs-percentages">
                    <div>
                        <label>Indexes:</label>
                        &nbsp;
                        <span>{{fileStore.valid_indexes | number}} / {{fileStore.indexes | number}} ({{fileStore.valid_indexes / fileStore.indexes * 100 | number}}%)</span>
                    </div>

                    <div>
                        <label>Groups:</label>
                        &nbsp;
                        <span>{{fileStore.valid_groups | number}} / {{fileStore.groups | number}} ({{fileStore.valid_groups / fileStore.groups * 100 | number}}%)</span>
                    </div>

                    <div>
                        <label>Encryption Keys:</label>
                        &nbsp;
                        <span *ngIf="fileStore.keys === 0">
                            N/A
                        </span>
                        <span *ngIf="fileStore.keys !== 0">
                            {{fileStore.valid_keys | number}} / {{fileStore.keys | number}} ({{fileStore.valid_keys / fileStore.keys * 100 | number}}%)
                        </span>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>

        <div class="rs-file-store-links">
            <a mat-fab extended [href]="openRs2Link" target="_blank">
                <mat-icon>north_east</mat-icon>
                OpenRS2
            </a>

            <a mat-fab extended [href]="mapLink" target="_blank">
                <mat-icon>map</mat-icon>
                World Map
            </a>

            <a mat-fab extended [href]="encryptionKeysLink" target="_blank">
                <mat-icon>key</mat-icon>
                Keys
            </a>

            <a mat-fab extended [href]="diskStoreLink">
                <mat-icon>download</mat-icon>
                Download
            </a>

            <a mat-fab extended routerLink=".">
                <mat-icon>system_update_alt</mat-icon>
                Import to Toolkit
            </a>
        </div>
    </div>
</rs-page>
