<rs-page>
    <span rs-header>OpenRS2 File Store</span>

    <div rs-content class="rs-open-rs2-file-store" *ngIf="fileStore">
        <h2 class="mat-title">
            OpenRS2 File Store (ID {{fileStore.id}})
        </h2>
        <h3 class="mat-subtitle-1">
            <span *ngIf="fileStore.game">
                {{fileStore.game | openRs2Label}}
            </span>
            <span *ngIf="fileStore.environment">
                {{fileStore.environment | openRs2Label}}
            </span>
            <span *ngIf="fileStore.builds?.length">
                {{fileStore.builds!.length === 1 ? 'Build' : 'Builds'}}
                {{builds}}
            </span>
        </h3>

        <h2 class="mat-title">Overview</h2>

        <mat-card>
            <mat-card-content class="rs-overview rs-grid">
                <div>
                    <label>OpenRS2 ID</label>
                    <span>{{fileStore.id}}</span>
                </div>

                <div>
                    <label>Game</label>
                    <span>{{fileStore.game || '--'}}</span>
                </div>

                <div>
                    <label>Builds</label>
                    <span>{{builds || '--'}}</span>
                </div>

                <div>
                    <label>Date</label>
                    <span>{{(fileStore.timestamp || '--') | date: 'YYYY-MM-dd'}}</span>
                </div>

                <div>
                    <label>Language</label>
                    <span>{{fileStore.language || '--'}}</span>
                </div>

                <div>
                    <label>Environment</label>
                    <span>{{fileStore.environment || '--'}}</span>
                </div>

                <div>
                    <label>Sources</label>
                    <span>{{fileStore.sources?.join(', ') || '--'}}</span>
                </div>
            </mat-card-content>
        </mat-card>

        <h2 class="mat-title rs-data-title">Data</h2>

        <mat-card>
            <mat-card-content class="rs-data">
                <div class="rs-grid">
                    <div>
                        <label>Total Size:</label>
                        &nbsp;
                        <span>{{fileStore.size | number}} bytes</span>
                    </div>

                    <div>
                        <label>Blocks:</label>
                        &nbsp;
                        <span>{{fileStore.blocks | number}}</span>
                    </div>
                </div>

                <div class="rs-grid rs-percentages">
                    <div>
                        <label>Indexes:</label>
                        &nbsp;
                        <span>{{fileStore.valid_indexes | number}} / {{fileStore.indexes | number}} ({{fileStore.valid_indexes / fileStore.indexes * 100 | number}}%)</span>
                    </div>

                    <div>
                        <label>Groups:</label>
                        &nbsp;
                        <span>{{fileStore.valid_groups | number}} / {{fileStore.groups | number}} ({{fileStore.valid_groups / fileStore.groups * 100 | number}}%)</span>
                    </div>

                    <div>
                        <label>Encryption Keys:</label>
                        &nbsp;
                        <span *ngIf="fileStore.keys === 0">
                            N/A
                        </span>
                        <span *ngIf="fileStore.keys !== 0">
                            {{fileStore.valid_keys | number}} / {{fileStore.keys | number}} ({{fileStore.valid_keys / fileStore.keys * 100 | number}}%)
                        </span>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>

        <div class="rs-file-store-links">
            <a mat-fab extended routerLink=".">
                <mat-icon>favorite</mat-icon>
                View Map
            </a>
        </div>
    </div>
</rs-page>
