.rs-open-rs2-file-store {
    .rs-grid {
        display: grid;
        grid-gap: 32px;

        label {
            font-weight: 600;
        }

        + .rs-grid {
            margin-top: 32px;
        }
    }

    .rs-data {
        padding-top: 12px;

        .rs-grid {
            grid-template-columns: repeat(auto-fill, minmax(250px, auto));
        }
    }

    .rs-file-store-links {
        margin-top: 42px;
        text-align: center;

        a {
            margin: 8px;
        }
    }
}
