<rs-page>
    <div rs-content class="rs-cache-list" *ngIf="cacheList$ | async as cacheList">
        <table mat-table [dataSource]="cacheList"
               class="mat-elevation-z7">
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> Toolkit ID </th>
                <td mat-cell *matCellDef="let cache"> {{ cache.id }} </td>
            </ng-container>

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let cache"> {{ cache.name }} </td>
            </ng-container>

            <ng-container matColumnDef="source">
                <th mat-header-cell *matHeaderCellDef> Source </th>
                <td mat-cell *matCellDef="let cache">
                    <ng-container *ngIf="cache.source === 'local'">
                        Local
                    </ng-container>

                    <ng-container *ngIf="cache.source === 'openrs2' && !cache.openRs2Data">
                        OpenRS2
                    </ng-container>

                    <ng-container *ngIf="cache.source === 'openrs2' && cache.openRs2Data">
                        <a [href]="openRs2Url + '/caches/' + (cache.openRs2Data.scope || 'runescape') + '/' + cache.openRs2Data.id" target="_blank">
                            OpenRS2 (ID: {{ cache.openRs2Data.id }})
                        </a>
                    </ng-container>
                </td>
            </ng-container>

            <ng-container matColumnDef="size">
                <th mat-header-cell *matHeaderCellDef> Data File Size </th>
                <td mat-cell *matCellDef="let cache"> {{ (cache.dataFile?.data?.length || 0) | number }} bytes </td>
            </ng-container>

            <ng-container matColumnDef="indexes">
                <th mat-header-cell *matHeaderCellDef> Indexes </th>
                <td mat-cell *matCellDef="let cache"> {{ indexCount(cache) }} </td>
            </ng-container>

            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> Actions </th>
                <td mat-cell *matCellDef="let cache">
                    <button mat-icon-button matTooltip="Cache details"
                            [routerLink]="[ cache.id ]">
                        <mat-icon>description</mat-icon>
                    </button>

                    <button mat-icon-button matTooltip="Delete cache">
                        <mat-icon color="warn">delete</mat-icon>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</rs-page>
