.rs-nav {
    display: flex;

    h1 {
        font-weight: 400;
        margin: 0;
        font-size: 24px;
    }

    nav {
        margin-left: 16px;

        button {
            margin-left: 4px;
            font-size: 16px;
            font-weight: 400;

            &.rs-active, &:hover {
                background-color: rgba(255, 255, 255, .12);
            }

            &.rs-active:hover {
                background-color: rgba(255, 255, 255, .2);
            }

            &.rs-import-button {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }

            &.rs-import-from-button {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
                border-left-width: 0;
                margin-left: 0;
                padding: 0 6px;
                min-width: 0;

                .rs-import-from-icon {
                    margin: 0;
                    $size: 1.5rem;
                    font-size: $size;
                    height: $size;
                    width: $size;
                }
            }
        }
    }
}
