<rs-page>
    <div rs-content class="rs-cache-details" *ngIf="cache">
        <h1 class="mat-headline-5">{{ cache.name }}</h1>

        <rs-folder [breadcrumb]="[ { text: 'Test Cache', link: '.' }, { text: 'Test Folder' } ]">
            <rs-file name="Test Folder 1" type="folder"></rs-file>
            <rs-file name="Test Folder 2" type="folder"></rs-file>
            <rs-file name="Test Folder 3" type="folder"></rs-file>
            <rs-file name="Test Folder 4" type="folder"></rs-file>
            <rs-file name="Test Folder 5" type="folder"></rs-file>
            <rs-file name="Test Folder 6" type="folder"></rs-file>
            <rs-file name="Test Folder 7" type="folder"></rs-file>
            <rs-file name="Test File 1" type="file"></rs-file>
            <rs-file name="Test File 2" type="file"></rs-file>
            <rs-file name="Test File 3" type="file"></rs-file>
            <rs-file name="Test File 4" type="file"></rs-file>
        </rs-folder>

        <br /><br /><br /><br /><br /><br />

        <ng-container *ngIf="indexFiles.length">
            <h2 class="mat-headline-6">Indexes</h2>

            <table mat-table [dataSource]="indexFiles"
                   class="mat-elevation-z7">
                <ng-container matColumnDef="index">
                    <th mat-header-cell *matHeaderCellDef> Index </th>
                    <td mat-cell *matCellDef="let index"> {{ index.indexNumber }} </td>
                </ng-container>

                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Name </th>
                    <td mat-cell *matCellDef="let index"> {{ indexName(index.indexNumber) }} </td>
                </ng-container>

                <ng-container matColumnDef="size">
                    <th mat-header-cell *matHeaderCellDef> Size </th>
                    <td mat-cell *matCellDef="let index"> {{ (index.data?.length || 0) | number }} bytes </td>
                </ng-container>

                <ng-container matColumnDef="fileCount">
                    <th mat-header-cell *matHeaderCellDef> File Count </th>
                    <td mat-cell *matCellDef="let index"> {{ ((index.data?.length || 0) / 6) | number }} </td>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef> Actions </th>
                    <td mat-cell *matCellDef="let index">
                        <button mat-icon-button matTooltip="Browse files"
                                [routerLink]="[ 'indexes', index.indexNumber ]"
                                *ngIf="index.indexNumber !== 255">
                            <mat-icon>folder_open</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </ng-container>
    </div>
</rs-page>
