.rs-busy-indicator {
    p {
        margin: 0;
        padding: 0;
        font-size: 24px;
        font-weight: 500;
    }

    &.rs-fullscreen {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        z-index: 1000;

        p {
            margin-top: 32px;
        }
    }

    &.rs-backdrop {
        background: rgba(0, 0, 0, 0.75);
    }
}
