@use '@angular/material' as mat;
@import 'theme';

@include mat.core();

@include mat.all-component-themes($toolkit-theme);
@include mat.typography-hierarchy($toolkit-typography);

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.mdc-fab--extended, .mdc-button {
    // text-transform: uppercase;
}
