@use 'sass:map';
@use '@angular/material' as mat;
@import 'theme';

@include mat.core();

@include mat.all-component-themes($toolkit-theme);
@include mat.typography-hierarchy($toolkit-typography);

$color-config: mat.get-color-config($toolkit-theme);
$accent-palette: map.get($color-config, 'accent');

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}

a {
    color: mat.get-color-from-palette($accent-palette, 300);
    text-decoration: none;

    &:not(.mdc-fab):hover {
        text-decoration: underline;
    }
}

.mdc-fab--extended, .mdc-button {
    // text-transform: uppercase;
}
